html {
  scroll-behavior: smooth;
navbar {
  box-shadow: none;
}

.navbar-brand {
  margin: 10px 10px 10px 10px;
}

.navbar-item {
  color: #067C89 !important;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent !important;
  }
@media (max-width: 1023px) {
  .navbar-item {
    text-align: center;
  }
}

.navbar-item .navbar-link {
  text-transform: capitalize;
  color: #067C89;
  font-weight: bold;
}
.navbar-item .navbar-link:active, .navbar-item .navbar-link:hover {
  color: #067C89 !important;
  background-color: transparent !important;
}
.navbar-item .navbar-link::after {
  display: none;
}

.navbar.is-white .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-white .navbar-item.has-dropdown:focus .navbar-link, .navbar.is-white .navbar-item.has-dropdown:hover .navbar-link {
  color: #067C89 !important;
  background-color: transparent !important;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 0.75rem !important;
}

.navbar {
  padding: 12px 15px;
}
@media (max-width: 1023px) {
  .navbar {
    padding: 12px 0;
  }
}
.navbar .has-dropdown {
  padding: 0.5rem 0.6rem;
}
.navbar .has-dropdown:hover .navbar-dropdown {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}
.navbar .has-dropdown .navbar-dropdown {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  border: 0;
  top: 50px;
  left: 0px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  transform: scale(0.8);
  background: #fff;
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .navbar .has-dropdown .navbar-dropdown {
    display: none;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transform-origin: unset;
  }
}
.navbar .has-dropdown .navbar-item {
  position: relative;
  color: #067C89;
  transition: 0.2s ease;
  font-size: 14px;
  padding: 10px 25px;
}
.navbar .has-dropdown .navbar-item:not(:last-child) {
  padding-bottom: 10px;
}
.navbar .has-dropdown .navbar-item:hover {
  color: #067C89 !important;
  background: transparent;
}

.navbar-burger:hover,
.navbar-burger {
  color: #067C89 !important;
  height: 2.8rem;
  width: 2.8rem;
  border: 0;
  border-radius: 3px;
  float: right;
  background-color: #067C89;
  margin-top: 4px;
}

/*
.navbar-item {
  color: #067C89 !important;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent !important;
}
.navbar-link {
  color: #067C89 !important;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f0f0f0;
  background-color: #ffffff;
}
*/

.main-text {
  color: white;
  text-shadow: 4px 4px 12px #29211b;
}
.main_hero {
  background-image: url('../media/background.jpg');
  background-size: cover;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
img {
  max-width: 100%;
}
a.is-zero {
  background-color: #067C89 !important;
  border: 1px solid #067C89 !important;
  color: #FFFFFF;
}
a.is-zero:hover {
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: bold;
}
a.is-one {
  background-color: #CA1F29 !important;
  border: 1px solid #CA1F29 !important;
  color: #FFFFFF;
}
a.is-one:hover {
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: bold;
}
a.is-two {
  background-color: #067C89 !important;
  border: 1px solid #067C89 !important;
  color: #000000;
}
a.is-two:hover {
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: bold;
}
a.button {
  font-size: 14px;
}
.main_title {
  color: #FFFFFF;
}
.columns {
  flex-wrap: wrap;
}
.modal-content {
  background-color: #FFFFFF;
  padding: 2em;
  border-radius: 5px;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}
svg #wheel {
  animation: scroll ease 2s infinite;
}
.slider-content {
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
.scroll-down {
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}
.rooms {
  background-color: #FFFFFF;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.reception-image img {
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.reception-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.reception-item i {
  width: 20px;
}
.reception-item a {
  color: #000000;
}
.reception-item .button {
  border: 1px solid #03B2E3;
  width: 50px;
}
.reception-item .button i {
  width: auto;
  padding-right: 5px;
}
.reception-item .button:hover {
  background-color: #03B2E3;
  color: #FFFFFF;
}
.mobile-only {
  display: none;
}

.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
margin: 10px;
position: relative;
transition: all .2s ease-in-out;
}
.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

@media only screen and (max-width: 769px) {
  .reception-item {
    width: 100%;
  }
  .mobile-only {
    display: block;
  }
  .reception-item {
    padding: 1em;
  }
}
@media only screen and (max-width: 350px) {
  .mobile-only {
    display: none;
  }
}
iframe {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .galleria a {
    width: 150px;
  }
}
.newsletter-form {
  display: flex;
}
.newsletter-form input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  background-color: #067C89;
  color: #FFFFFF;
}
.newsletter-form ::-webkit-input-placeholder {
  color: #FFFFFF;
}
.newsletter-form button {
  width: 50px;
  height: 40px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #067C89;
  outline: none;
  border: 0;
}
footer {
  background-color: #067C89;
  /*border-top: 5px solid #CC0000;*/
  color: #FFFFFF !important;
  font-size: 16px;
}
.footer_title {
  color: #FFFFFF !important;
}

/*Typewriter JS*/

.jstypewriter1 {
  font-size: 76px;
  color: #8900BC;
  text-transform: uppercase;
}
.jstypewriter2 {
  font-size: 90px;
  color: #0000FF;
  text-transform: uppercase;
}
.jstypewriter3 {
  font-size: 72px;
  color: #66BC42;
  text-transform: uppercase;
}
.jstypewriter4 {
  font-size: 84px;
  color: #FFEF00;
  text-transform: uppercase;
}
.jstypewriter5 {
  font-size: 100px;
  color: #FF0900;
  text-transform: uppercase;
}
